:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif; /* 400i,700, 800i */
}

body {
  min-height: 100vh;
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--white);
  padding: 40px;
  border-radius: 30px;
  border-bottom-right-radius: 150px;
}

form {
  width: 95%;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container {
  width: 32%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: var(--smokey-grey);
  text-transform: uppercase;
}

.input {
  font-size: 24px;
  padding: 5px 15px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-color: var(--purple);
}

.cal-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 100%;
  transform: translate(50%, -50%);
}

.cal-btn:hover {
  background-color: var(--off-black);
}

.result {
  font-weight: 800;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 10px;
}

.result span {
  color: var(--purple);
  margin-right: 15px;
}

.invalid {
  color: var(--light-red);
}

.invalid-input {
  border-color: var(--light-red);
}

.invalid-msg {
  color: var(--light-red);
  font-size: 12px;
  margin-top: 5px;
  font-weight: 400;
  font-style: italic;
  display: none;
}
